# Lists

**Learning Objectives**

To understand: 
* How to identify a list?
* How to create a list?
* List indexing and access
* List Manipulation 
* List Comparison
* List Amendment

# Introduction
Lists are the basis of all data structures in kdb+. For example, a dictionary is a collection of lists and a table is a list of dictionaries. As kdb+ is a column orientated database and a column is really a list, the list data structure is of great importance in this technology.

One very powerful feature of q is the ability to execute the built in arithmetic and logical operators
directly on lists without the need for some explicit loops across the list. In the examples below,
the operation will implicitly be applied uniformly to all elements in the list:

In [1]:
show x:10 20 30 40 50

10 20 30 40 50

In [2]:
x+1 /Increment all elements in x by 1

11 21 31 41 51

In [3]:
x%10 /Divide all elements in x by 10

1 2 3 4 5f

In [4]:
x<=30 /Check all elements in x to see if they are less than or equal to 30

11100b

##### Exercise

Given the following: `"a"` and `"abc"`
* What are their respective types 
* How are these different?

In [ ]:
type "a"
type "abc" //10 is character type and as abc is a vector (string list) it is 10h

In [5]:
//your answer here
type "a"
type "abc"

-10h

10h

There are two types of lists:

* Simple Lists
* General Lists

## Simple Lists
A list consisting of atoms all of which are the same type is called a simple list or a vector.

To create a list you can use brackets or no brackets:

In [6]:
show l1:(1;2;3)

1 2 3

In [7]:
show l2:1.2 3.4 4.5

1.2 3.4 4.5

Lets create a number of lists of various types and then use the type command to check the returned values

In [8]:
show L:10 20 30         // simple list of longs
show F:3.4 5.0 3.1      // simple list of floats
show I:3 4 5 6i         // simple list of ints - note not the default type, so trailing i in the output
show H:100 200 300h     // simple list of shorts
show str:"hello there"  // simple list of chars (also called a string)
show s:`JPM`GE`IBM      // simple list of symbols

10 20 30
3.4 5 3.1
3 4 5 6i
100 200 300h
"hello there"
`JPM`GE`IBM

As you would expect, the [type](https://code.kx.com/q/ref/type/) function should return a positive number (as a short type) for each of the above lists

In [9]:
type L
type F
type I
type H
type str
type s

7h

9h

6h

5h

10h

11h

<img src="../qbies.png" style="width: 50px;padding-right:5px;padding-top:20px;padding-left:5px;" align="left"/>

<p style='color:#273a6e'><i> Notice that in list L above we didn't explicitly "type" the list (like we did for I and H), rather we just supplied a list of numbers. In kdb+/q there are default datatypes that are assumed when not explicitly declared. For whole numbers, the default type is long and for decimal numbers the default type is float. In older versions of kdb+/q, specifically below v3.X.(e.g. v2.X) the default datatype for whole numbers used to be integer. </i></p>

##### Exercise

Create a 10 digit integer list called `t1`

In [ ]:
t1: `int$til 10 //using built-in operator til to generate a list of integers
type t1    //checking the type

In [11]:
//your answer here
show t1: 1 2 3 4 5 6 7 8 -9 10i
type t1

1 2 3 4 5 6 7 8 -9 10i

6h

## General Lists

A general list is either:
* A list where not all elements are of the same type
* A list of lists

Below are examples of general lists:

In [12]:
show person:(`John;32;`USA)

`John
32
`USA

In [13]:
show `John,32,`USA

`John
32
`USA

<img src="../qbies.png" style="width: 50px;padding-right:5px;padding-top:15px;padding-left:5px;" align="left"/>

<p style='color:#273a6e'><i> When creating a general list, we need to use brackets <code>()</code> and semicolons <code>;</code>  to explicitly delimit the different items and associated types in our list or else we can use <code>,</code> the join operator, to explicitly join together lists or atoms of different types. </i></p>

A general list has type `0h`

In [14]:
type person

0h

In the case of `person`, each element is an atom and they aren't all of the same type. We can use the [`each`](https://code.kx.com/q/ref/each/) command in conjunction with `type` to determine the type of each item in our list. 

The `each` operator extends the behaviour of a function to act over each item to the right and is our first example of an [Iterator](https://code.kx.com/q/ref/iterators/) in kdb+/q.

In [15]:
type each person

-11 -7 -11h

To reiterate, a general list can also be a list of lists as seen below.

In [16]:
show matrix:(1 2 3;4 5 6)
type matrix
type each matrix

1 2 3
4 5 6

0h

7 7h

##### Exercise

Create a general list `t2`, comprising of a list of lists. The first list should be a list of floats from 1 to 3, and the second should be a list of the symbols \`a, \`b, and \`c. Confirm the type of `t2`.

In [ ]:
show t2:(1 2 3f; `a`b`c)
type t2

In [18]:
//your answer here 
show t2:(1 2 3f;`a`b`c)
type t2
type each t2

1 2 3
a b c

0h

9 11h

# List creation

## Creating lists from atoms
The most simple list to create in kdb+/q is an empty list

In [19]:
show el:()

Joining an empty list to an atom will make it a list, or we can use the keyword [`enlist`](https://code.kx.com/q/ref/enlist/) to manually create a level of nesting

In [20]:
/creating a variable
show a:4
type a

4

-7h

In [21]:
/adding an empty list to create a list
show el,a
type el,a

,4

7h

In [22]:
enlist enlist 4 
(),(),4

4

,4

##### Exercise 

Create a single item list of the symbol <code>`onMyOwn</code>

In [ ]:
type `onMyOwn
(),`onMyOwn
type (),`onMyOwn   //this is now a single item list

In [26]:
//your code here 
enlist `onMyOwn
(), `onMyOwn
type enlist `onMyOwn

,`onMyOwn

,`onMyOwn

11h

## Generating lists

There are two very useful operators for generating lists, [`til`](https://code.kx.com/q/ref/til/) and [`?`](https://code.kx.com/q/ref/deal/#roll-and-deal)(aka [roll/deal](https://code.kx.com/q/ref/deal/#roll-and-deal)).

In [27]:
show L:20?300
show M:til 20

10 257 73 90 171 90 221 182 68 45 233 64 177 238 241 296 216 205 145 123
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

The Q language has a built in operator (`?`) which allows for the generation of random data
according to a uniform distribution.

In [28]:
?[5;10]     //generate a list of 5 random longs between 0 and 9
5?10

2 4 5 4 2

7 8 5 6 4

In [29]:
?[5;10.0]   //generates a list of 5 random floats between 0 and 10.0
5?10.

1.024432 8.671096 7.278528 1.627662 6.884756

8.177547 7.520102 1.086824 9.598964 0.3668341

Generate a list of 5 unique random longs between 0 and 9 - the negative number indicates we want to draw *without* replacement.

In [30]:
?[-5;10]   //generates without replacement
-5?10

1 5 4 3 2

5 9 7 1 2

What would we get if this number was -11? i.e. `?[-11;10]`

We would get an error, as we can't draw 11 items from 10 items without replacing some of them! (see [Pidgeonhole principle](https://en.wikipedia.org/wiki/Pigeonhole_principle))

It is also possible to specify the right argument as a list. In that case, the random data will be drawn uniformly  from the elements in that list. For example:

In [32]:
?[5;1 2 3]             //select 5 elements from the list 1 2 3
5?1 2 3

1 1 3 3 2

1 3 2 2 3

In [31]:
?[5;`IBM`GOOG]         //select 5 elements from the list `IBM`GOOG
5?`IBM`GOOG

`IBM`GOOG`IBM`IBM`GOOG

`GOOG`IBM`GOOG`IBM`GOOG

In [33]:
?[5;2011.01.01-til 3]  //select 5 elements from a list of 3 dates
5?2011.01.01-til 3

2010.12.30 2011.01.01 2011.01.01 2010.12.31 2010.12.30

2010.12.31 2010.12.30 2010.12.31 2010.12.31 2011.01.01

##### Exercise 
 
Generate a list of 100 random numbers between 10-20. 

Hint - (highlight using cursor to see hidden text): <font color='white'> The 10 and 20 are inclusive, so we have a range of 11 numbers. Start with generating 100 values in this range and then shift up. </font>

In [ ]:
show myList: 10 + 100?11  //we shift the numbers up by ten to introduce the range
min myList 
max myList

In [38]:
//your code here 
show mylist: 10 + 100?11
show mylist2: ?[100;10 + til 11]
max mylist
max mylist2
min mylist
min mylist2

17 19 17 17 20 16 19 14 13 14 20 14 18 16 12 19 15 11 12 20 16 18 19 16 13 14..
11 18 16 18 20 16 17 10 15 17 13 16 20 19 19 10 12 15 13 12 18 16 20 19 19 20..

20

20

10

10

## Joining lists
We can join lists with [`,`](https://code.kx.com/q/ref/join/) - we did this earlier when we created lists from atoms.

In [39]:
1 2 3,4 5

1 2 3 4 5

In [40]:
1,2 3 4
1.8,2 3 4,10:00+ til 2

1 2 3 4

1.8
2
3
4
10:00
10:01

Observe that if the arguments are not of uniform type, the result is a general list.

<img src="../qbies.png" style="width: 50px;padding-right:5px;padding-top:5px;padding-left:5px;" align="left"/>

<p style='color:#273a6e'><i> Notice when kdb+/q returns a general list it displays it vertically - this is to make it visually clearer that the items in the list are different types. </i></p>

# List indexing and access

## List indexing

One or more items may be extracted from a simple list with N items by passing their indices which range from 0 up to N-1

<img src="../qbies.png" style="width: 50px;padding-right:5px;padding-top:5px;padding-left:5px;" align="left"/>

<p style='color:#273a6e'><i> When specifying the index you can only use a whole value like an integer, long  or short - if you try to use a float it will throw a type error! </i></p>

In [41]:
show L:10 20 30 40 50
count L

10 20 30 40 50

5

You can use indexes to retrieve the list items at those locations

In [42]:
L 0       //Obtain first item 
L 0 1 2   //Obtain the first 3 items

10

10 20 30

In [43]:
//or written explicitly (functionally)
L[0]
L[1 2 3]

10

20 30 40

One interesting feature of lists is that indexing out of bounds does not throw an out of bounds
exception. Instead, it returns a null value of the appropriate data type. For example:

In [44]:
L[10]

0N

0N is returned because `L` is a homogeneous list of longs. Below you will see two other examples including symbols and reals

In [45]:
z:`IBM`MSFT`GOOG 
z[10]

`

In [46]:
y:1 2 3e
y[4]

0Ne

##### Exercise 
What is returned when you index out of the bounds of a general list? Let's find out!

Create a general list `GList` with three items of different types of your choosing (verify the list is general by showing `type GList` is `0h`). 

* What is the type of each list item? 
* Retrieve the value at index 3 - what is it's type?

In [ ]:
show GList: (`a;1;"b")
type each GList   //using each with the type command to iterate over the General List and get the type for each item
type GList        //type of the whole list 
type GList 3      //type when we index out of bounds is the type of the first item

In [50]:
//your code here 
show GList: 1,`M,"hjk"
type GList
GList[5]
type GList[5] //same type as the first element 
type each GList

1
`M
"h"
"j"
"k"

0h

0N

-7h

-7 -11 -10 -10 -10h

## Indexing Lists at Depth
We can continue to index into list structures to retrieve nested items. The keyword [`cut`](https://code.kx.com/q/ref/cut/) can be used to create a matrix by cutting a list at every third index.

In [51]:
show matrix: 3 cut 3* til 9 
matrix[0]    //the first item of our matrix is the first "row"

0  3  6
9  12 15
18 21 24

0 3 6

In [52]:
matrix[0][1 2] //we can now index into *that* list to get the 2nd and 3rd items

3 6

There is more simple syntax to achieve this in kdb+ where we can provide the associated indexing chain directly.

In [53]:
matrix[0;1 2]

3 6

<img src="../qbies.png" style="width: 50px;padding-right:5px;padding-top:15px;padding-left:5px;" align="left"/>

<p style='color:#273a6e'><i> There is a difference between <code>matrix[0;1]</code> versus <code>matrix 0 1</code>. The <code>;</code> indicates a change in depth at which the indexing applies. Make sure you understand the difference between both before moving on.</i></p>

##### Exercise

Create a two item list `t3` containing the string lists "hello" "world". Index at top level to obtain the string "hello"

In [ ]:
t3:("hello";"world")
t3[0]
type t3[0] //checking the type

In [56]:
 //your answer here
show t3: ("hello";"world")
t3[0]
type t3[0]

"hello"
"world"

"hello"

10h

##### Exercise

Using the list `t3` index at depth to create a list `t4` from the vowels in "hello"

In [ ]:
t3:("hello";"world")
show t4:t3[0;1 4] //indexing into the list to get the vowels
type t4           //checking the type

In [60]:
//your answer here 
show t4: t3[0;1,4]
type t4

"eo"

10h

## Index Elision

If we know that our list is a list of lists, like our `matrix` variable, and we want to return the first item of each of these nested lists, we can do this explicitly  as follows.

In [61]:
matrix
matrix[0 1 2;0]

0  3  6
9  12 15
18 21 24

0 9 18

If we want to do this more generally without explicitly defining the specific indexes we care about at a given level, we can use this syntax instead:

In [62]:
matrix[;0]  //get the first item of all lists

0 9 18

By not specifying the first index, we actually apply to all and this is extensible across lists we don’t know the full size of.

##### Exercise 
* Retrieve the 2nd and 3rd items from each list in the matrix variable.
* Retrieve the 2nd and 3rd items from the matrix variable

In [ ]:
matrix[;1 2]  //extracting the columns

In [ ]:
matrix[1 2;]  //extracting the rows - matrix[1 2] is equivalent

In [65]:
//your code here 
matrix[;1 2]
matrix[1 2;]
matrix[1 2]

3  6
12 15
21 24

9  12 15
18 21 24

9  12 15
18 21 24

# List Manipulation

## Subsetting lists

The keyword [`#`](https://code.kx.com/q/ref/take/) (referred to as [take](https://code.kx.com/q/ref/take/)) is used to retrieve the first or last N elements of a list.

In [66]:
L
3#L

10 20 30 40 50

10 20 30

In [67]:
-3#L / If you change the number to negative, you retrieve the last 3 elements

30 40 50

Alternatively, by using the keyword [`_`](https://code.kx.com/q4m3/A_Built-in_Functions/#a20-cut-_) (referred to as [cut/drop](https://code.kx.com/q4m3/A_Built-in_Functions/#a20-cut-_) ), we can remove the first or last N elements of a list to return just the remainder of the list.

In [68]:
2_L

30 40 50

In [69]:
-2_L  /removes the last 2 elements

10 20 30

We can use the keyword [`sublist`](https://code.kx.com/q/ref/sublist/) to return a sublist of a list in a similar way to `#`. The first parameter is a simple list of two non-negative integers: the first item is the starting index (start); the second item is the number of items to retrieve (count). The second parameter (target) is a list (or dictionary).

In [70]:
2 3 sublist 1 2 3 4 5
0 6 sublist "KDB is fun"

3 4 5

"KDB is"

In [71]:
8#til 5
8 sublist til 5 //assumes teh index you want to start at is 0 , if 8 > 5 only returns full list no looping

0 1 2 3 4 0 1 2

0 1 2 3 4

<img src="../qbies.png" style="width: 50px;padding-right:5px;padding-top:15px;padding-left:5px;" align="left"/>

<p style='color:#273a6e'><i>The only broadcasting that kdb+/q does as a rule is between atomic values and lists e.g. <code>1 + 1 2 3</code>. If broadcasting is required we can use <code>#</code> to force lists to be the same length, but this behavior is not standard or expected.</i></p>

##### Exercise

Return:
* The last 2 items of `L`
* The second from last item of `L`
* The next 2 items starting from the 2nd item from `L`

In [80]:
L
-2#L   //take the last two

10 20 30 40 50

40 50

In [77]:
first -2#L 
(-2#L) 0         //using indexing to get the first of the last two items
L[-2 + count L]  //using indexing directly on L to move 2 back from the end of the list

40

40

40

In [78]:
1 2 sublist L   //using sublist 
L[1+ til 2]     //using direct indexing 
2#1_L           //dropping the first item then taking the first 2

20 30

20 30

20 30

In [83]:
//your code here
L
-2#L
(-2#L) 0
3 1 sublist L //returns list -> one element list in this case
1 2 sublist L

10 20 30 40 50

40 50

40

,40

20 30

## Finding items in lists 

Depending on the type of arguments passed, the behavior of the `?` operator can differ. We previously used `?` to generate random data as follows:

In [84]:
?[5;1 4 5 5 6 7]   //generate 5 items drawn randomly from the passed list
5?1 4 5 5 6 7      //infix - generate 5 items from the list

7 5 5 6 6

5 7 7 6 5

Above the first argument is an atomic integer, therefore q is generating a list of 5 random elements taken from the 2nd argument.

If the first argument is a list however, it is known as the [`find`](https://code.kx.com/q4m3/8_Tables/#863-find) operator. This operator will return the index of the first occurrence of each element in the 2nd argument. For example:

In [85]:
?[1 4 5 5 6 7;5]     //first occurance of 5
1 4 5 5 6 7?5        //infix - where is the first occurance of 5 in this list

2

2

In [86]:
?[1 4 5 5 6 7;5 1]   //first occurance of 5 and 1 
1 4 5 5 6 7?5 1

2 0

2 0

Another very important keyword in kdb+/q is [where](https://code.kx.com/q/ref/where/) which returns the indices that are 1b in a boolean list.

In [87]:
where 101010b

0 2 4

This is useful to find the positions where a certain criteria is met:

In [88]:
show L:10?50
L >30
where L >30

41 15 44 10 43 6 34 36 15 22

1010101100b

0 2 4 6 7

We can then use the list of indices returned by the `where` command, to index into our original list and return the values from our list that meet the filter criteria.

In [89]:
L[where[L>=30]]

41 44 43 34 36

##### Exercise 
Return the items of `L` that are divisible by 3.

In [ ]:
L
0=L mod 3 //a boolean list 
L where 0= L mod 3

In [91]:
//your code here
L[where[0 = L mod 3]]
L[where 0 = L mod 3]

15 6 36 15

15 6 36 15

##### Exercise 

Given the list 1 1 2 3 1 1 2, find: 
* The index of first occurrence of 3 
* All index occurrences of 3 
* The type of each return value 

What do you notice?

In [ ]:
1 1 2 3 1 1 2?3
type 1 1 2 3 1 1 2?3   //find always returns an atomic value - it stops at the first one

In [ ]:
where 1 1 2 3 1 1 2=3
type where 1 1 2 3 1 1 2=3   //where returns a list, even if there is only one result

In [ ]:
//your code here

## Analysing lists
The q language has some useful built-in functions that can be used to get information about a list. 
Some of the keywords (notice no loops!) return singular values and in some case aggregate values, while others may return lists.

**Some keywords that return singular/atomic values:**
* [count](https://code.kx.com/q/ref/count/) - Obtain the count of a list  
* [first](https://code.kx.com/q/ref/first/) - Extract the first element of a list
* [last](https://code.kx.com/q/ref/first/#last) - Extract the last element of the list
* [max](https://code.kx.com/q4m3/A_Built-in_Functions/#a51-max) - Find the maximum value in a list
* [min](https://code.kx.com/q4m3/A_Built-in_Functions/#a57-min) - Find the minimum value in a list
* [avg](https://code.kx.com/q/ref/avg/) - Find the mean of a list
* [dev](https://code.kx.com/q/ref/dev/) - Standard deviation of a list
* [var](https://code.kx.com/q/ref/var/) - Variance of a list
* [sum](https://code.kx.com/q/ref/sum/) - Total summation of a list

In [92]:
L
count L
first L
last L
max L
min L
avg L
dev L
var L
sum L

41 15 44 10 43 6 34 36 15 22

10

41

22

44

6

26.6

13.82896

191.24

266

##### Exercise

Create a list `t5` of the first five negative numbers. Obtain the first and last items from this list

In [ ]:
t5:(-1 -2 -3 -4 -5)
t5[0 4]

In [ ]:
//More generally for a list of length L
L:5
show t5: neg 1+ til L //more general list -1 -> L
show l:(first t5; last t5)

In [94]:
//your answer here 
show t5: neg 1 + til 5
first t5
last t5

-1 -2 -3 -4 -5

-1

-5

**Some keywords return list/vector values:**
You can retrieve the running maximum and minimum by applying the keywords below:

* [sums](https://code.kx.com/q/ref/sum/#sums) - Running total of a list
* [maxs](https://code.kx.com/q/ref/max/#maxs) - Running maximums through a list
* [mins](https://code.kx.com/q/ref/min/#mins) - Running minimums through a list 
* [avgs](https://code.kx.com/q/ref/avg/#avgs) - Running average through a list
* [null](https://code.kx.com/q/ref/null/) - Returns a boolean list with `1b` where any value of a list is null
* [distinct](https://code.kx.com/q/ref/distinct/) -Returns the unique items in the list, in order of first occurrence
* [group](https://code.kx.com/q/ref/group/) - Returns a dictionary where each distinct item in the list is mapped to the indexes of occurrence, in order of occurrence

In [95]:
show L:30 0N 10 20 50 30 60 30 40 50
maxs L
mins L  
avgs L 
sums L 
group L // each unique value is a key and returns indices

30 0N 10 20 50 30 60 30 40 50

30 30 30 30 50 50 60 60 60 60

30 30 10 10 10 10 10 10 10 10

30 30 20 20 27.5 28 33.33333 32.85714 33.75 35.55556

30 30 40 60 110 140 200 230 270 320

30| 0 5 7
  | ,1
10| ,2
20| ,3
50| 4 9
60| ,6
40| ,8

Notice in the examples above the behavior of each function with respect to null values.

##### Exercise 

Create a string list `t6` similar to above saying-- `("Welcome";"to";"KDB")`. 

Using the built-in functions above, deduce and return the word with the most letters.

HINT: (you may wish to use the iterator [`each`](https://code.kx.com/q/ref/each/) to apply `count` to every item in the list)

In [ ]:
show t6:("Welcome";"to";"KDB")

In [ ]:
count each t6      //how long is each word

In [ ]:
show m:max count each t6  //which word is longest?
m= count each t6

In [ ]:
t6 where c= max c:count each t6    //which word corresponds to the biggest count (now we have the count for each)

In [100]:
 //your answer here 
show t6: ("Welcome";"to";"KDB")
count t6
count each t6
max_word: max count each t6 
t6 where count each t6 = max_word

"Welcome"
"to"
"KDB"

3

7 2 3

"Welcome"
"Welcome"
"Welcome"
"Welcome"
"Welcome"
"Welcome"
"Welcome"
"to"
"to"
"KDB"
"KDB"
"KDB"

# List comparison

We use the [`=` (equals)](https://code.kx.com/q/ref/equal/) operator to find which atoms within a list have equal values - it applies in a pairwise fashion

In [101]:
`b`b`c=(`a`b`c)

(1;2;3;4;5)=(5;2;3;2;1)

011b

01100b

We can use the [`~` (match)](https://code.kx.com/q/ref/match/) operator to check if two items are **identical**. Match also checks the data type of the arguments, not just the values.

In [102]:
`a`b`c~`a`b`c
(1;2;3)~(1;2;3;4)
(1;2;3)~(1.0;2.0;3.0)

1b

0b

0b

<img src="../qbies.png" style="width: 50px;padding-right:5px;padding-top:15px;padding-left:5px;" align="left"/>

<p style='color:#273a6e'><i> Lists must be of equal length when using <code>=</code> or this will return a length error! Match doesn't error with different lengths of input, but since the length is different it won't match. </i></p>

# List Amendment

## Amendment by Indexing 
Items in a list can also be reassigned via item indexing - meaning we can amend an item in a list without having to explicitly redefine it.

In [103]:
/reassign the third element as 40
L
L[2]:40
L

30 0N 10 20 50 30 60 30 40 50

30 0N 40 20 50 30 60 30 40 50

In [103]:
L[1]:10h /note different type

type: type

This next example sets a cap on the values `x` can take - using the `where` keyword, we can find and update the indexes where `x` is greater than 30.

In [104]:
show x:10?50

27 7 12 34 35 13 46 25 1 1

In [105]:
x[where x>30]:30 /Cap the elements of x at 30
x

27 7 12 30 30 13 30 25 1 1

##### Exercise 

Given the list `a:10 20 1 15 102 3 8 40 3e` of reals, update the value of every second item to be null.

In [ ]:
show a:10 20 1 15 102 3 8 40 3e

In [ ]:
show inds:1+2* til div[count a;2]   //getting the odd indexes - div is integer division

In [ ]:
a[inds]:0Ne      //updating - have to use the real type null as the list itself is typed
a

In [114]:
//your code here 
a:10 20 1 15 102 3 8 40 3e
show ind:1+ 2 * til div[count a ;2]
a[ind]: 0Ne
a

1 3 5 7

10 0N 1 0N 102 0N 8 0N 3e

## Amendment using @
We can also use the primitive [`@`](https://code.kx.com/q/ref/amend/) (also referred as amend or apply) to amend a list. Firstly we see how this can be used to return the value at a given index in the same way as indexing:

In [115]:
show L: 10?20
@[L; 1 2]

10 10 14 5 5 17 7 2 15 10

10 14

The `@` primitive can take more arguments to extend it's behavior - namely, we can apply functions directly to our list by passing the function we wish to apply as a third argument. The fourth argument is only used if the function requires additional input.

In [116]:
@[L; ::; neg]    //amend the list to apply single argument function 
@[L; ::; + ; 2]  //amend the list at the null index (all indexes) to add 2 to each 
L

-10 -10 -14 -5 -5 -17 -7 -2 -15 -10

12 12 16 7 7 19 9 4 17 12

10 10 14 5 5 17 7 2 15 10

<img src="../qbies.png" style="width: 50px;padding-right:5px;padding-top:20px;padding-left:5px;" align="left"/>

<p style='color:#273a6e'><i> The identity <code>::</code> in kdb+/q serves two purposes - it is both a <a href="https://code.kx.com/q/ref/identity/#null">generic null</a> (for any type) and also as an identity function (see Functions section). In the example above we are using it as the generic null to indicate we selected no indexes in particular. The following statements are equivalent <code>L[::]</code>,<code>L[]</code> and <code>L</code>. </i></p>

What would happen if we didn't use the null and instead just called <code>@[L; ; + ; 2]</code>?

We would create a projection! Similar to `+[;2]` or `mavg[2;]`

By specifying the assignment operator `:` as the third argument we can update our list values:

In [ ]:
@[L;where L>10;:;0N]   //make everything above 10 null

Note that this doesn't actually update our original list `L` (unlike the index assignment), to do that we need to reassign the output back to `L`.

In [ ]:
show L:@[L;0 1;10+] //add 10 to the first two indices in list x
@[L;where L>25;10+] //add 10 to any indice in list x which is greater 25

##### Exercise 

Add 300 to every item in the list L that is [`within`](https://code.kx.com/q/ref/within/) the range 10-15

In [ ]:
L 
where L within 10 15
@[L;where L within 10 15;+;300]

In [119]:
//your code here
@[L;where L within 10 15;+;300]

310 310 314 5 5 17 7 2 315 310

## Amendment using . 
If we want to index at depth, we instead use [`.`](https://code.kx.com/q/ref/apply/#apply-index)(aka [apply-index](https://code.kx.com/q/ref/apply/#apply-index)).

In [ ]:
matrix
matrix . 1 2      //Indexing into the second row to get third item 
matrix . (::;0)   //different syntax- we get the same result as matrix[;0] - :: is a null index

In [ ]:
.[matrix; 0 1]             //equivalent to matrix[0;1]
.[matrix; 0 1; : ; 500 ]   //we can now update at depth

**Cross sections**

Index is cross-sectional when the indexes are themselves lists. The simplest case of cross-sectional indexing occurs when the indexes provided are both vectors.

For example, `matrix .(2 1;0 1)` selects items 0 and 1 from both items 2 and 1:

In [ ]:
show matrix
matrix . (2 1; 0 1)

##### Exercise 

Use indexing at depth on ("nuf";"BDK";" si") to make<br>

    "KDB"
    "is "
    "fun"

In [ ]:
("nuf";"BDK";" si") . (1 2 0;2 1 0)
.[("nuf";"BDK";" si");(1 2 0;2 1 0)]  //functional syntax

In [ ]:
//your answer here